<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>SINAV</title>
        <meta charset="utf-8">
        <meta name="description" content="Burada çeşitli sınavlarla yeteneğinizi ispatlamanızı bekliyoruz">
        <meta name="author" content="Mehmet Âkif SOLAK">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <header>
            <div class="jumbotron text-center my-3">
                {%if quizName=="nlp"%}
                    <h2 class="d-inline">Doğal dil işleme sınavına hoş geldiniz</h2>
                {%else%}
                    <h2 class="d-inline">Yapay zekâ sınavına hoş geldiniz</h2>
                {%endif%}
                <h5 class="mx-4 text-right d-inline">En yüksek puan : </h5>
                {%if maxPoint is not none%}
                    <h5 id="maxPoint" class="d-inline">{{maxPoint}}</h5>
                {%else%}
                    <h5 id="maxPoint" class="d-inline">0</h5>
                {%endif%}
                <h6 id="quizCodeName" style="visibility:hidden;">{{quizName}}</h6>
            </div>
        </header>
        <div class="container" id="mainContainer">
            <div class="form-group" id="oo">
                {%for question in questions%}
                    <div class="card my-2">
                        <h4>{{question}}</h4>
                        <form name="question{{question.id}}" class="form-group">
                            <input type="radio" name="answerFor{{question.id}}" class="btn-check mb-2" id="{{question.id}}optA">
                            <label class="btn btn-outline-success mb-2" for="{{question.id}}optA">A) {{question.optA}}</label>
<br/>
                            <input type="radio" name="answerFor{{question.id}}" class="btn-check mb-2" id="{{question.id}}optB">
                            <label class="btn btn-outline-success mb-2" for="{{question.id}}optB">B) {{question.optB}}</label>
                            <br/>
                            <input type="radio" name="answerFor{{question.id}}" class="btn-check mb-2" id="{{question.id}}optC">
                            <label class="btn btn-outline-success mb-2" for="{{question.id}}optC">C) {{question.optC}}</label>
                            <br/>
                            <input type="radio" name="answerFor{{question.id}}" class="btn-check mb-2" id="{{question.id}}optD">
                            <label class="btn btn-outline-success mb-2" for="{{question.id}}optD">D) {{question.optD}}</label>
                        </form>
                    </div>
                {%endfor%}
                <button id="send" class="btn btn-primary">SINAVI GÖNDER</button>
                <h3 id="result">SONUÇ : </h3>
            </div>
        </div>
        <footer class="container">
            <p>Mehmet Akif SOLAK , msolak2034@protonmail.com</p>
        </footer>
        <script>
            async function showResult(){
                var forms = document.getElementsByTagName("form");
                answers = [];
                quizName = document.getElementById("quizCodeName").innerHTML;
                maxPoint = document.getElementById("maxPoint").innerHTML;
                for(var sayac = 0; sayac < forms.length; sayac++){
                    var element = forms[sayac];
                    var selected = "No";
                    if(element[`${sayac + 1}optA`].checked)
                        selected = "A";
                    else if(element[`${sayac + 1}optB`].checked)
                        selected = "B";
                    else if(element[`${sayac + 1}optC`].checked)
                        selected = "C";
                    else if(element[`${sayac + 1}optD`].checked)
                        selected = "D";
                    answers[sayac] = selected;
                }
                body = {answers : answers, quizName : quizName};
                asJson = JSON.stringify(body)
                const response = await fetch("/result", {method:"POST", body:asJson, headers:new Headers({"content-type" : "application/json;charset=UTF-8"})});
                const reader = response.body.getReader();
                while(!(result = await reader.read()).done){
                    console.log(result.value)
                    var text = "";
                    for(var i = 0; i < result.value.length; i++){
                        text += String.fromCharCode(result.value[i]);
                    }
                    console.log(text);
                    document.getElementById("result").innerHTML = " SONUÇ : " + text;
                    var maxPointAsNumber = parseInt(maxPoint, 10);
                    var newPointAsNumber = parseInt(new DOMParser().parseFromString(text, "text/xml").getElementsByTagName("h3")[0].innerHTML, 10);
                    if(newPointAsNumber > maxPointAsNumber)
                        document.getElementById("maxPoint").innerHTML = newPointAsNumber;
                }
            }
            document.getElementById("send").addEventListener("click", showResult);
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    </body>

</html>